NEXT_PUBLIC_API_URL = http://localhost:1337/api
NEXT_PUBLIC_SERVER_URL = http://localhost:1337
NEXT_PUBLIC_NEXT = http://localhost:3000
# такой же как в strapi
JWT_SECRET=very-secret
# token for update user
ADMIN_TOKEN = your-admin-token 